In [1]:
import glob

In [46]:
# fetch all csv file paths
csv_file_path_list = glob.glob("/Users/Shared/github_projects/Second-Hand-Arbitrage/html_product/*")

In [58]:
html_path = csv_file_path_list[1]

In [51]:
from bs4 import BeautifulSoup

In [60]:
html = open(html_path, "r")
bs = BeautifulSoup(html, 'html.parser')

In [61]:
bs.div.div.section.contents[-4].div.div.div.contents[3].div.div.div.section.contents[2].div.div.contents[2].article.p.text

'Wenig gebrauchtes Objektiv. Keine Kratzer, keine Sch√§den. NP 925.-, 06.2017'

In [57]:
bs.div.div.section.contents[-4].div.div.div.contents[3].div.div.div.section.contents[2].div.div.contents[2].article.p.text

'Somit das Beste Objektiv was ich jemals brauchte. Ich verkaufe es wegen System wechsel.'

In [31]:
import pandas as pd

In [34]:
df_shell = pd.DataFrame(columns=["url", "desc"])

In [44]:
to_add = pd.DataFrame({"url":'abc',"desc":'def'}, index = [1])
to_add_2 = pd.DataFrame({"url":'lele',"desc":'deddddf'}, index = [1])

In [41]:
to_add

   url desc
1  abc  def

In [45]:
pd.concat([to_add,to_add_2])

    url     desc
1   abc      def
1  lele  deddddf

In [62]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
with open("/Users/Shared/github_projects/Second-Hand-Arbitrage/metadata/product_page_urls.txt") as product